.permaTop {
        position: fixed;
        width: 100%;
        z-index:1 ;
}

.navbar .lastTab{
        float: right;
}

.navbar .current {
        background-color: #009edf;
}

.navbar {
        width: 100%;
        overflow:hidden;
        background-color: rgb(102, 102, 102);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 15px/50px;
        z-index: 1;
        margin: 0;
        padding: 0px 10px;
        opacity: 0.85;
        background: linear-gradient(to right, #009edf, #0d6486)
}

.navbar a {
        float: left;
        color: white;
        text-align: center;
        padding: 16px 30px;
        text-decoration: none;
        text-align: center;
        font-size: 27px;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
        background-color: #009edf;
}

.cont {
        padding: 100px 0px;
}

.profPicture {
        width: 170px;
        height: 170px;
        object-fit: fill;
        border-radius: 13px;
        float: center;
}

ul.info {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        text-align: left;
        font-weight: bold;
        color: rgb(58, 56, 56);
        padding: 20px 5% 0px 5%;

}

h2.info {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 160%;
        color: #009edf;
        font-style: italic;
        text-align: center;
        padding-bottom: 20px;

}

p.info {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 70%;
}

.profile{ 
        position: fixed;
        z-index:1 ;
}

.jumbProf {
        background-color: inherit;
        box-shadow: 6px 6px 8px -6px black;
}

.netList {
        float:left;
}

.netItem {
        padding-bottom: 15px;
}

.jumbNet {
        padding: 10px 5%;
}

.profPictureNet {
        width: 130px;
        height: 130px;
        object-fit: fill;
        border-radius: 13px;
        padding-right: 10px;
        float: left;
}

.netName {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        padding-top: 45%;
        color: rgb(58, 56, 56);
}

.title {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        color: rgb(65, 63, 63);
        font-style: italic;
}
.commImg {
        width: 50px;
        height: 50px;
}

.interest {
        font-size: 30px;
        color: #007eaf;
        font-style: italic;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.contComment {
        width: 100%;
        max-height: 500px;
        overflow: scroll;
}

.name {
        padding-left: 50px;
        font-size: 26px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        text-align: center;
}