
.permaTop {
        position: fixed;
        width: 100%;
        z-index:1 ;
}

.navbar .lastTab{
        float: right;
}

img.logo{
        float: left;
        width:14;
        height:16;
        padding: 10px 50px 10px 20px;
}

.navbar .current {
        background-color: #009edf;
}

.navbar {
        width: 100%;
        overflow:hidden;
        background-color: rgb(102, 102, 102);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 15px/50px;
        z-index: 1;
        margin: 0;
        padding: 0px 10px;
        opacity: 0.85;
        background: linear-gradient(to right, #009edf, #0d6486);
}

.navbar a {
        float: left;
        color: white;
        text-align: center;
        padding: 16px 30px;
        text-decoration: none;
        text-align: center;
        font-size: 27px;
}

.dropdown {
        float: left;
        overflow: hidden;
}

.dropdown .dropbtn {
        background-color: inherit;
        color: white;
        text-align: center;
        padding: 16px 30px;
        text-decoration: none;
        text-align: center;
        font-size: 27px;
        border: none;
        cursor: pointer;
        outline: none;
        font-family: inherit;
        margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
        background-color: #009edf;
}

.dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
        z-index: 1;
        background-color: beige;
}

.dropdown-content a {
        float: none;
        color: black;
        font-family: inherit;
        text-align: left;
        padding: 10px 12px;
        display: block;
}


.dropdown-content a:hover{
        background-color: inherit;
}

.show {
        display:block;
}

.grid-container {
        display: grid;
        grid-template-columns: 30%  60%;
        grid-template-rows: auto;
        grid-gap: 50px;
        background-color: inherit;
        padding: 0px;
      }


.grid-container > div {
       
        /*background: linear-gradient(to bottom, rgb(222, 234, 236), rgb(236, 251, 255));*/
        text-align: center;
        font-size: 30px;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
        outline: none;
        border: none;
}

.profPicture {
        width: 350px;
        height: 350px;
        margin: 100px 0px 20px 0px;  
        object-fit: fill;      
}

h2.info {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 140%;
        color: #009edf;
        font-style: italic;

}

.sendBtnL {
        background-color: #009edf;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        float: auto;
        margin: 50px;
        padding: 20px;
        border: none;
        font-size: 27px;


}

.confirmBtn {
        background-color: #009edf;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        float: center;
        margin: 150px 200px;
        padding: 20px;
        font-size: 30px;
        border: none;
}

.sendBtnL:hover, .editBtn:hover, .confirmBtn:hover {
        background-color: #07465f;
}
p.info {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 70%;
}

ul.info {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 90%;
        text-align: left;
        font-weight: bold;
        color: rgb(58, 56, 56);
        padding: 40px 40px 20px 40px;

}
.grid-container i {
        font-size: 24px;
        color: #009edf;
        padding: 0px 23px 0px 10px;

}

.grid-container ul {
        list-style-type: none;
}



/*Info text*/
.infoText {
        font-family: 'Oxygen', sans-serif;
        color: rgb(58, 56, 56);
        text-align: center;
        font-size: 23px;
        overflow: hidden;       
}

.infoText h2 {
        color: #009edf;
        padding: 80px 40px 10px 40px;
        text-align: left;
}

.infoText p {
        padding: 0px 20px 30px 20px;
        font-style: italic;

}

.editBtn {
        background-color: #009edf;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        float: auto;
        margin: 20px;
        padding: 10px;
        border: none;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  margin: 20px;
}

.textareaInp {
        width: 92%;
        margin: 0% 4%;
}