<div class="permaTop">
  <div class= "navbar">
    <a [routerLink]="" class="" >Home</a>
    <a [routerLink]="" class="" >Ads</a>
    <a [routerLink]="" class="" >Messaging</a>
    <a [routerLink]="" class="" >Network</a>
    <a [routerLink]="" class="" >Notifications</a>
    <a [routerLink]="" class="" >Profile</a>
    <a [routerLink]="['/settings']" class="current" >Settings</a>
    <a (click)="logOutCLick()" class="lastTab" href="">Log out</a>
  </div>

  <div class="container grid-container">
    <div>
      Under Development...
    </div>
  </div>