
.permaTop {
        position: fixed;
        width: 100%;
        z-index:1 ;
}

.navbar .lastTab{
        float: right;
}

img.logo{
        float: left;
        width:14;
        height:16;
        padding: 10px 50px 10px 20px;
}

.navbar .current {
        background-color: #009edf;
}

.navbar {
        width: 100%;
        overflow:hidden;
        background-color: rgb(102, 102, 102);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 15px/50px;
        z-index: 1;
        margin: 0;
        padding: 0px 10px;
        opacity: 0.85;
        background: linear-gradient(to right, #009edf, #0d6486)
}

.navbar a {
        float: left;
        color: white;
        text-align: center;
        padding: 16px 30px;
        text-decoration: none;
        text-align: center;
        font-size: 27px;
}

.dropdown {
        float: left;
        overflow: hidden;
}

.dropdown .dropbtn {
        background-color: inherit;
        color: white;
        text-align: center;
        padding: 16px 30px;
        text-decoration: none;
        text-align: center;
        font-size: 27px;
        border: none;
        cursor: pointer;
        outline: none;
        font-family: inherit;
        margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
        background-color: #009edf;
}

.dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
        z-index: 1;
        background-color: beige;
}

.dropdown-content a {
        float: none;
        color: black;
        font-family: inherit;
        text-align: left;
        padding: 10px 12px;
        display: block;
}

.cont {
        float: center;
        width: 600px;
        height: 600px;
        margin: 100px;
        border-color: #009edf;
        border: 2cm;
}

.grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 50px;
        border-color: blue;
        background-color: aquamarine;
        padding: 0px;
        border: 2px;
        float: center;


      }


.grid-container > div {
       
        /*background: linear-gradient(to bottom, rgb(222, 234, 236), rgb(236, 251, 255));*/
        text-align: center;
        font-size: 30px;
        height: 500px;
        width:500px;
        margin: 200px;
        
}