.title {
        text-align: center;
        padding: 5%;
        color: #009edf;
                font-family: 'Oxygen', sans-serif;
}

.contain {
        width: 80%;
        margin: auto;
}
.grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        background-color: rgb(129, 187, 235);
        padding: 20px;
        height: 100px;
        border-radius: 13px;
        grid-row-gap: 10px;

}

.grid-container > ul > div {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid black;
        text-align: center;
        font-size: 30px;
        height: 100px;

}

.gridItem {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid black;
        text-align: center;
        font-size: 30px;
        height: 100px;
}
#checkboxes label {
        float: right;
}

#checkboxes ul {
        margin: 0;
        list-style: none;
        float: right;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.profImg {
        width: 120px;
        height: 120px;
        float: left;
        border-radius: 13px;
        margin-right: 10%;
}

.characteristics {
        float: left;
        padding: 20px;
        font-size: 20px;
        text-align: center;
        font-family: 'Oxygen', sans-serif;
        white-space: nowrap;

}

.box {
        height: 150px;
}

.cbox {
        float: right;
        padding: 50px;
}
.pagination {
        float: right;
}

.container {
        width: 80%;
        height: 590px;
        overflow: scroll;
}

.btn2 {
        padding: 40px 100px;
        float: right;
}