<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<div class="permaTop">
<div class= "navbar">
  <a [routerLink]="['/homepage']" class="" >Home</a>
  <a [routerLink]="" class="" >Ads</a>
  <a [routerLink]="" class="" >Messaging</a>
  <a [routerLink]="['/network']" class="" >Network</a>
  <a [routerLink]="['/notifications']" class="" >Notifications</a>
  <a *ngIf="!isProfileMine()" [routerLink]="['/userprof', loginedUser]" class="" >Profile</a>
  <a *ngIf="isProfileMine()" [routerLink]="['/userprof', loginedUser]" class="current" >Profile</a>
  <a [routerLink]="['/settings']" class="" >Settings</a>
  <a (click)="logOutCLick()" class="lastTab" href="">Log out</a>
</div>
</div>

<div *ngIf="isUserReceived() && isAccessValidated() && !isProfileMine()" class="grid-container">
  <div>
    <img class="profPicture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/220px-Cat03.jpg" alt="Lost my prof cat">
    <h2 class="info">Basic info</h2>
    <ul class="info">
      <li><p><i class="fa fa-drivers-license-o"></i>{{ user.firstName }} {{ user.lastName }}</p></li>
      <!-- Contact me list node-->
    </ul>
    <h2 class="info">Skills</h2>
    <ul class="info">
    <li>
      <p *ngIf="(isPublicSkill() || isConnection) && existsSkills()">{{ skillsString }}</p>
      <p *ngIf="(!isPublicSkill() && !isConnection) || existsSkills()">User skills are not provided or they are private</p>
    </li>
    <li>
      <button type="button" *ngIf="isConnection && !toggledSendMessage" (click)="sendMessageButton()" class="sendBtnL btn btn-primary btn-lg">Send Message</button>
      <textarea [(ngModel)] ="messageText" class="basic-textarea rounded-corners" style="font-size: 22px; width: 100%" rows="5" *ngIf="isConnection && toggledSendMessage"></textarea>
      <div *ngIf="isConnection && toggledSendMessage && !isMessageEmpty()" (click)="sendMessage()" style="padding-top: 20px; padding-bottom: 30px;"><button type="button"  class="btn btn-success btn-lg pull-right">Send</button></div>
      <div *ngIf="isConnection && toggledSendMessage && isMessageEmpty()" style="padding-top: 20px; padding-bottom: 30px;"><button type="button"  class="btn disabled btn-success btn-lg pull-right">Send</button></div>
      <button type="button" *ngIf="!isConnection" (click)="sendRequest()" class="sendBtnL btn btn-primary btn-lg">Connection Request</button>
    </li>
    <!-- Contact me list node-->
  </ul>
  </div>
  <div>
    <div class="infoText">
      <h2>Education Text</h2>
      <p *ngIf="(isPublicEducation() || isConnection) && existsEducationText()">{{ user.educationText }}</p>
      <p *ngIf="(!isPublicEducation() && !isConnection) || !existsEducationText()">User education text is not provided</p>
      <h2>Job Experience Text</h2>
      <p *ngIf="(isPublicJob() || isConnection) && existsJobText()">{{ user.jobExperienceText }}</p>
      <p *ngIf="(!isPublicJob() && !isConnection) || !existsJobText()">User job experience text is not provided</p>
    </div>
    
  </div>
</div>

<div *ngIf="isUserReceived() && isAccessValidated() && isProfileMine()" class="grid-container">
  <div>
      <img class="profPicture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/220px-Cat03.jpg" alt="Lost my prof cat">
      <h2 class="info">Basic info</h2>
      <ul class="info">
        <li><p><i class="fa fa-drivers-license-o"></i>{{ user.firstName }} {{ user.lastName }}</p></li>
        <!-- Contact me list node-->
      </ul>
      <h2 class="info">Skills</h2>
      <ul class="info">
      <li>
        <p *ngIf="existsSkills()">{{ skillsString }}</p>
        <p *ngIf="!existsSkills()">You have not provided any skills</p>
        <div class="form-group">
          <textarea [(ngModel)] ="skillsString" *ngIf="isEditingSkills()" class="form-control textareaInp" rows="4">{{ skillsString }}</textarea>
        </div>
      </li>
      <li>
        <div class="form-check form-check-inline">
            <label class="form-check-label" >Public </label>          
            <input *ngIf="!isPublicSkill()" class="form-check-input" type="checkbox" (change)="skillCheckEvent($event)" value="option1">
            <input *ngIf="isPublicSkill()" checked class="form-check-input" type="checkbox" (change)="skillCheckEvent($event)" value="option1">
            <button (click)="editSkills()" *ngIf="!isEditingSkills()" type="button" class="editBtn btn btn-primary btn-md">Edit</button>
        </div>
      </li>
      <!-- Contact me list node-->
    </ul>
  </div>
    <div>
      <div>
        <div class="infoText">
          <h2>Education Text</h2>
          <p *ngIf="existsEducationText()">{{ user.educationText }}</p>
          <p *ngIf="!existsEducationText()">You have not provided education text</p>
          <div class="form-group">
            <textarea [(ngModel)] = "user.educationText" *ngIf="isEditingEducation()" class="form-control textareaInp" rows="4" >{{ user.educationText }}</textarea>
          </div>
          <div class="form-check form-check-inline pull-right">
              <label class="form-check-label" >Public </label>          
              <input *ngIf="!isPublicEducation()" class="form-check-input" type="checkbox" (change)="educationCheckEvent($event)" value="option1">
              <input *ngIf="isPublicEducation()" checked class="form-check-input" type="checkbox" (change)="educationCheckEvent($event)" value="option1">
              <button (click)="editEducation()" *ngIf="!isEditingEducation()" type="button" class="editBtn btn btn-primary btn-md">Edit</button>
          </div>
          <h2>Job Experience Text</h2>
          <p *ngIf="existsJobText()">{{ user.jobExperienceText }}</p>
          <p *ngIf="!existsJobText()">You have not provided job experience text</p>
          <div class="form-group">
            <textarea [(ngModel)] = "user.jobExperienceText" *ngIf="isEditingJob()" class="form-control textareaInp" rows="4" >{{ user.jobExperienceText }}</textarea>
          </div>
          <div class="form-check form-check-inline pull-right">
              <label class="form-check-label" >Public </label>          
              <input *ngIf="!isPublicJob()" class="form-check-input" type="checkbox" (change)="jobCheckEvent($event)"  value="option1">
              <input *ngIf="isPublicJob()" checked class="form-check-input" type="checkbox" (change)="jobCheckEvent($event)"  value="option1">
              <button (click)="editJob()" *ngIf="!isEditingJob()" type="button" class="editBtn btn btn-primary btn-md">Edit</button>
          </div>
          <button *ngIf="!isChanging()" (click)="confirmChanges()" type="button" class="confirmBtn btn btn-primary btn-lg">Confirm Changes</button>
          <button *ngIf="isChanging()"  type="button" class="confirmBtn btn btn-primary btn-lg disabled">Changing...</button>

      </div>
    </div>
  </div>
</div>

