<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<div class="permaTop">
<div class= "navbar">
  <a [routerLink]="" class="" >Home</a>
  <a [routerLink]="" class="" >Ads</a>
  <a [routerLink]="" class="" >Messaging</a>
  <a [routerLink]="" class="" >Network</a>
  <a [routerLink]="" class="" >Notifications</a>
  <a *ngIf="!isProfileMine()" [routerLink]="" class="" >Profile</a>
  <a *ngIf="isProfileMine()" [routerLink]="" class="current" >Profile</a>
  <a [routerLink]="" class="" >Settings</a>
  <a (click)="logOutCLick()" class="lastTab" href="">Log out</a>
</div>
</div>

<div *ngIf="isUserReceived() && isAccessValidated() && !isProfileMine()" class="grid-container">
  <div>
    <img class="profPicture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/220px-Cat03.jpg" alt="Lost my prof cat">
    <h2 class="info">Basic info</h2>
    <ul class="info">
      <li><p><i class="fa fa-drivers-license-o"></i>{{ user.firstName }} {{ user.lastName }}</p></li>
      <!-- Contact me list node-->
    </ul>
    <h2 class="info">Skills</h2>
    <ul class="info">
    <li>
      <p *ngIf="isPublicSkill()">{{ skillsString }}</p>
      <p *ngIf="!isPublicSkill()">User skills are not provided or they are private</p>
    </li>
    <li>
      <button type="button" class="sendBtn btn btn-primary btn-lg">Send Message</button>
    </li>
    <!-- Contact me list node-->
  </ul>
  </div>
  <div>
    <div class="infoText">
      <h2>Education Text</h2>
      <p *ngIf="isPublicEducation()">{{ user.educationText }}</p>
      <p *ngIf="!isPublicEducation()">User education text is not provided or it is private</p>
      <h2>Job Experience Text</h2>
      <p *ngIf="isPublicJob()">{{ user.jobExperienceText }}</p>
      <p *ngIf="!isPublicJob()">User job experience text is not provided or it is private</p>
    </div>
    
  </div>
</div>

<div *ngIf="isUserReceived() && isAccessValidated() && isProfileMine()" class="grid-container">
  <div>
    <img class="profPicture" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/220px-Cat03.jpg" alt="Lost my prof cat">
    <h2 class="info">Basic info</h2>
    <ul class="info">
      <li><p><i class="fa fa-drivers-license-o"></i>{{ user.firstName }} {{ user.lastName }}</p></li>
      <!-- Contact me list node-->
    </ul>
    <h2 class="info">Skills</h2>
    <ul class="info">
    <li>
      <p *ngIf="isPublicSkill()">{{ skillsString }}</p>
      <p *ngIf="!isPublicSkill()">User skills are not provided or they are private</p>
    </li>
    <!-- Contact me list node-->
  </ul>
  </div>
  <div>
    <div class="infoText">
      <h2>Education Text</h2>
      <p *ngIf="isPublicEducation()">{{ user.educationText }}</p>
      <p *ngIf="!isPublicEducation()">User education text is not provided or it is private</p>
      <h2>Job Experience Text</h2>
      <p *ngIf="isPublicJob()">{{ user.jobExperienceText }}</p>
      <p *ngIf="!isPublicJob()">User job experience text is not provided or it is private</p>
    </div>
    
  </div>
</div>

