<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


</head>


<div class="permaTop">
  <div class= "navbar">
    <a [routerLink]="['/homepage']" class="" >Home</a>
    <a [routerLink]="" class="" >Ads</a>
    <a [routerLink]="" class="" >Messaging</a>
    <a [routerLink]="" class="" >Network</a>
    <a [routerLink]="['/notifications']" class="current" >Notifications</a>
    <a [routerLink]="['/userprof', loginedUser]" class="" >Profile</a>
    <a [routerLink]="['/settings']" class="" >Settings</a>
    <a (click)="logOutCLick()" class="lastTab" href="">Log out</a>
  </div>
</div>

<div *ngIf="isLoadingComplete()" class="container-fluid cont" style="padding-top: 180px;">

  <div class="row">
    <div class="col-sm-6">
      <h5 class="text-success text-center columnHeader">Connection Requests</h5>
      <h6 *ngIf="isRequestsEmpty()" class="text-dark name" style="font-style: italic; padding-top: 50px;"  >No connection requests</h6>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let request of requests; let i = index">
          <a [routerLink]="['/userprof', request.userId]">
            <img class="profPicture" style="border-radius: 13px; height: 80px; width: 80px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/220px-Cat03.jpg" alt="Lost my prof cat">
          </a>
          <span class="text-dark name">{{ request.firstName }} {{ request.lastName    }}</span>
          <div class="pull-right" style="padding-top: 15px">
            <div class="pull-right">
              <button *ngIf="isPending(i)" (click)="acceptRequest(i)" class="btn btnReq btn-success"><i class="fas fa-check"></i></button>
              <button *ngIf="isPending(i)" (click)="declineRequest(i)" class="btn btnReq btn-danger"><i class="fas fa-times"></i></button>
              <span  *ngIf="request.isAccepted" class="text-success name">Accepted</span>
              <span *ngIf="request.isDeclined"class="text-danger name">Declined</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <h5 class="text-success text-center columnHeader">Article Notifications</h5>
      <h6 *ngIf="isNotificationsEmpty()" class="text-dark name" style="font-style: italic; padding-top: 50px;"  >No notifications</h6>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let notification of notifications; let j = index">
          <a [routerLink]="['/userprof', notification.userId]">
            <img class="profPicture" style="border-radius: 13px; height: 80px; width: 80px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/220px-Cat03.jpg" alt="Lost my prof cat">
          </a>
          <p class="pull-right">{{ transformDate(notification.uploadTime) }}</p>
          <span *ngIf="notification.isComment == 0" class="text-dark notif">User {{ notification.firstName }} {{ notification.lastName }} was interested to {{ notification.articleTitle }}</span>
          <span  *ngIf="notification.isComment == 1" class="text-dark notif">User {{ notification.firstName }} {{ notification.lastName }} commented to {{ notification.articleTitle }}</span>
          <p class="comm text-info" *ngIf="notification.isComment == 1">{{ notification.contentText}}</p>
        </li>
      </ul>
    </div>
  </div>    
</div>