
.permaTop {
        position: fixed;
        width: 100%;
        z-index:1 ;
}

.navbar .lastTab{
        float: right;
}

img.logo{
        float: left;
        width:14;
        height:16;
        padding: 10px 50px 10px 20px;
}

.navbar .current {
        background-color: #009edf;
}

.navbar {
        width: 100%;
        overflow:hidden;
        background-color: rgb(102, 102, 102);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 15px/50px;
        z-index: 1;
        margin: 0;
        padding: 0px 10px;
        opacity: 0.85;
        background: linear-gradient(to right, #009edf, #0d6486);
}

.navbar a {
        float: left;
        color: white;
        text-align: center;
        padding: 16px 30px;
        text-decoration: none;
        text-align: center;
        font-size: 27px;
}

.dropdown {
        float: left;
        overflow: hidden;
}

.dropdown .dropbtn {
        background-color: inherit;
        color: white;
        text-align: center;
        padding: 16px 30px;
        text-decoration: none;
        text-align: center;
        font-size: 27px;
        border: none;
        cursor: pointer;
        outline: none;
        font-family: inherit;
        margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
        background-color: #009edf;
}

.dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
        z-index: 1;
        background-color: beige;
}

.dropdown-content a {
        float: none;
        color: black;
        font-family: inherit;
        text-align: left;
        padding: 10px 12px;
        display: block;
}


.dropdown-content a:hover{
        background-color: inherit;
}

.show {
        display:block;
}

.grid-container {
        display: grid;
        grid-template-columns: 30%  60%;
        grid-template-rows: auto;
        grid-gap: 50px;
        background-color: inherit;
        padding: 0px;
      }


.grid-container > div {
       
        /*background: linear-gradient(to bottom, rgb(222, 234, 236), rgb(236, 251, 255));*/
        text-align: center;
        font-size: 30px;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
        outline: none;
        border: none;
}

.profPicture {
        width: 350;
        height: 400;
        padding: 50px 0px 20px 0px;  
        object-fit: fill;      
}

h2.info {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 140%;
        color: #009edf;
        font-style: italic;

}

.sendBtnL {
        background-color: #009edf;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        float: auto;
        margin: 50px;
        padding: 20px;
        border: none;
        font-size: 27px;


}

.confirmBtn {
        background-color: #009edf;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        float: center;
        margin: 150px 200px;
        padding: 20px;
        font-size: 30px;
        border: none;
}

.sendBtnL:hover, .editBtn:hover, .confirmBtn:hover {
        background-color: #07465f;
}
p.info {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 70%;
}

ul.info {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 90%;
        text-align: left;
        font-weight: bold;
        color: rgb(58, 56, 56);
        padding: 40px 40px 20px 40px;

}
.grid-container i {
        font-size: 24px;
        color: #009edf;
        padding: 0px 23px 0px 10px;

}

.grid-container ul {
        list-style-type: none;
}



/*Info text*/
.infoText {
        font-family: 'Oxygen', sans-serif;
        color: rgb(58, 56, 56);
        text-align: center;
        font-size: 23px;
        overflow: hidden;       
}

.infoText h2 {
        color: #009edf;
        padding: 80px 40px 10px 40px;
        text-align: left;
}

.infoText p {
        padding: 0px 20px 30px 20px;
        font-style: italic;

}

.editBtn {
        background-color: #009edf;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        float: auto;
        margin: 20px;
        padding: 10px;
        border: none;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  margin: 20px;
}

.textareaInp {
        width: 92%;
        margin: 0% 4%;
}
#playground-container {
        height: 500px;
        overflow: hidden !important;
        -webkit-overflow-scrolling: touch;
    }

    .container {
            width: 800px;
            padding: 100px 60% 100px 20px;
    }
    body, html{
         height: 100%;
             background-repeat: no-repeat;
             font-family: 'Oxygen', sans-serif;
                background-size: cover;
    }
    
    .main{
             margin:50px 15px;
    }
    
    h5 { 
            font-size: 50px;
            font-family: 'Passion One', cursive; 
            font-weight: 400;
            text-align: center;
            padding: 20px 10px; 
    }
    
    hr{
            width:10%;
            color: #fff;
    }
    
    .form-group{
            margin-bottom: 20px;
    }
    
    label{
            font-size: 19px;
            margin-bottom: 5px;
    }
    
    input,
    input::-webkit-input-placeholder {
        font-size: 19px;
        padding-top: 3px;
    }
    
    .main-login{
             background-color: #fff;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    
    }
    .form-control {
        height: auto!important;
    padding: 8px 12px !important;
    }
    .input-group {
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    }
    #button {
        border: 1px solid #ccc;
        margin-top: 28px;
        padding: 6px 12px;
        color: #666;
        text-shadow: 0 1px #fff;
        cursor: pointer;
        -moz-border-radius: 3px 3px;
        -webkit-border-radius: 3px 3px;
        border-radius: 3px 3px;
        -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
        -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
        box-shadow: 0 1px #fff inset, 0 1px #ddd;
        background: #f5f5f5;
        background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
        background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
    }
    .main-center{
             margin-top: 30px;
             margin: 0 auto;
             max-width: 400px;
        padding: 10px 40px;
            background:#009edf;
                color: #FFF;
        text-shadow: none;
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    
    }
    span.input-group-addon i {
        color: #009edf;
        font-size: 17px;
    }
    
    .login-button{
            margin-top: 5px;
    }
    
    .login-register{
            font-size: 11px;
            text-align: center;
    }
    
    .error {
            background-color: #f3d5d5;
    }