<div class="container">
  <div class="row main">
    <div class="main-login main-center">
    <h5>Register</h5>
      <form class="" method="post" action="#" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Your Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="email" id="email"  
              placeholder="Enter your Email" formControlName="email"
              [ngClass]="{ 'error': isInvalid('email') }"
              />
            </div>
          </div>
        </div>

        <div class="form-group ">
            <span class="btn-primary btn-lg" *ngIf="isEmailUsed()">Email provided is already in use</span>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="password" id="password"  
              placeholder="Enter your Password" formControlName="password"
              [ngClass]="{'error': isInvalid('password') }"
              />
            </div>
          </div>
        </div>

       <div class="form-group">
          <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" name="confirm" id="confirm"  
              placeholder="Confirm your Password" formControlName="confirmPassword" 
              [ngClass]="{'error': isInvalid('confirmPassword') }"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">First Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="firstName" id="firstName"  
              placeholder="Enter your First Name" formControlName="firstName"
              [ngClass]="{'error': isInvalid('firstName') }"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Last Name</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="lastName" id="lastName"  
              placeholder="Enter your Last Name" formControlName="lastName"
              [ngClass]="{'error': isInvalid('lastName') }"
              />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Phone Number</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" name="phoneNumber" id="phoneNumber"  
              placeholder="Enter your Phone Number" formControlName="phoneNumber"
              [ngClass]="{'error': isInvalid('phoneNumber') }"
              />
            </div>
          </div>
        </div>

        <p>Input photo</p>

        <div class="form-group ">
          <span class="btn btn-primary btn-lg btn-block login-button" *ngIf="isIncomplete() || isPasswordIncorrect()">Correctly complete fields</span>
          <input id="button" type="submit" class="btn btn-primary btn-lg btn-block login-button" *ngIf="!isIncomplete() && !isPasswordIncorrect() " value="Register"/>
        </div>
       
      </form>
    </div>
  </div>
</div>