<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div class="permaTop">
  <div class= "navbar">
    <a [routerLink]="['/moderator']" class="current" >ExportXMLPage</a>
    <a (click)="logOutCLick()" class="lastTab" href="">Log out</a>
  </div>
</div>

<h1 class="title">
    Moderator page
  </h1>
  
<div class="container">
    
  <div class="list-group" *ngFor="let user of users; let i = index">
              
      <div class="" >
        <a [routerLink]="['/usermod', users[i].idUser]">
          <img *ngIf="user.photoExists" class="profImg" [src]="'data:image/' + user.photoBean.fileType + ';base64,'+user.photoBean.photo" alt="Cat missing...">
          <img *ngIf="!user.photoExists" class="profImg" src="https://www.thehindu.com/sci-tech/technology/internet/article17759222.ece/alternates/FREE_960/02th-egg-person" alt="Cat missing...">

        </a>
        <p class="characteristics">{{user.firstName }} {{user.lastName }}</p>
        <p class="characteristics"> {{user.email }}</p>
        <p class="characteristics"> {{user.phoneNumber }}</p>
      <div class=""></div>
          <div class="cbox">
            <label>
              <input id="{{ i }}"type="checkbox" (change)="changeBox($event)" value="">				
            </label>
        </div> 		
        </div>
	</div>

</div>

<div class="btn2">
  <button (click)="requestXML()" type="button" class="btn btn-primary btn-lg">Export XML</button>
</div>