.title {
        text-align: center;
        padding-top: 150px;
        padding-bottom: 50px;
        color: #009edf;
        font-family: 'Oxygen', sans-serif;
}

.permaTop {
        position: fixed;
        width: 100%;
        z-index:1 ;
}

.navbar .lastTab{
        float: right;
}

img.logo{
        float: left;
        width:14;
        height:16;
        padding: 10px 50px 10px 20px;
}

.navbar .current {
        background-color: #009edf;
}

.navbar {
        width: 100%;
        overflow:hidden;
        background-color: rgb(102, 102, 102);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 15px/50px;
        z-index: 1;
        margin: 0;
        padding: 0px 10px;
        opacity: 0.85;
        background: linear-gradient(to right, #009edf, #0d6486)
}

.navbar a {
        float: left;
        color: white;
        text-align: center;
        padding: 16px 30px;
        text-decoration: none;
        text-align: center;
        font-size: 27px;
}

.dropdown {
        float: left;
        overflow: hidden;
}

.dropdown .dropbtn {
        background-color: inherit;
        color: white;
        text-align: center;
        padding: 16px 30px;
        text-decoration: none;
        text-align: center;
        font-size: 27px;
        border: none;
        cursor: pointer;
        outline: none;
        font-family: inherit;
        margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
        background-color: #009edf;
}

.dropdown-content {
        display: none;
        position: absolute;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
        z-index: 1;
        background-color: beige;
}

.dropdown-content a {
        float: none;
        color: black;
        font-family: inherit;
        text-align: left;
        padding: 10px 12px;
        display: block;
}


.dropdown-content a:hover{
        background-color: inherit;
}

.show {
        display:block;
}

.contain {
        width: 80%;
        margin: auto;
}
.grid-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        background-color: rgb(129, 187, 235);
        padding: 20px;
        height: 100px;
        border-radius: 13px;
        grid-row-gap: 10px;

}

.grid-container > ul > div {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid black;
        text-align: center;
        font-size: 30px;
        height: 100px;

}

.gridItem {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid black;
        text-align: center;
        font-size: 30px;
        height: 100px;
}
#checkboxes label {
        float: right;
}

#checkboxes ul {
        margin: 0;
        list-style: none;
        float: right;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

.profImg {
        width: 120px;
        height: 120px;
        float: left;
        border-radius: 13px;
        margin-right: 10%;
}

.characteristics {
        float: left;
        padding: 20px;
        font-size: 20px;
        text-align: center;
        font-family: 'Oxygen', sans-serif;
        white-space: nowrap;

}

.box {
        height: 150px;
}

.cbox {
        float: right;
        padding: 50px;
}
.pagination {
        float: right;
}

.container {
        width: 80%;
        height: 590px;
        overflow: scroll;
}

.btn2 {
        padding: 40px 100px;
        float: right;
}